<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link href="/css/product_card.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Список модулей</h1>
<p>
<form action="/modules" method="get">
    <input type="text" name="name" value="{{if ne .Name ""}}{{.Name}}{{end}}" placeholder="Введите название">
    <button type="submit" class = "button-7">Поиск</button>
</p>
</form>

<section class="articles">
{{range $key, $value := .Modules}}
  <article>
    <div class="article-wrapper">
      
        <img src=/image/{{$value.ImageURL}} alt="" />
      
      <div class="article-body">
        <h2>{{$value.Name}}</h2>
        {{if not .IsDeleted}}
        <form action="/modules" method="post">
                        <input type="hidden" name="delete" value="{{.ModuleID}}">
                        <input type="submit" value="Удалить" class="button-7" style="width: 100%;">
                    </form>
        {{end}}
        <p> </p>
        <a href="/modules/{{$value.ModuleID}}" class="button-7" style = "width:100%;">
          Подробнее 
        </a>
      </div>
      
    </div>
  </article>
  {{end}}
</section>
</body>
</html>