<div class="card">
  <div class="card__top">
      <a href="/full/{{ .Index }}" class="card__image">
          <img
                  src="../image/{{ .Image }}"
                  alt="Фотография модуля"
          />
      </a>
  </div>
  <div class="card__bottom">
      <a href="/full/{{ .Index }}" class="card__title">
          {{ .Title }}
      </a>
{{/*        <p>*/}}
{{/*            {{ .Description }}*/}}
{{/*        </p>*/}}
      <a style="text-decoration: none;" href="/full/{{ .Index }}">
          <button class="card__add">Подробнее</button>
      </a>
  </div>
</div>